.word-input__wrapper {
    align-content: center;
    align-items: center;
    background-color: #4d4d4d;
    border-radius: 8px;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
    padding: 40px 0 30px;
    position: relative;
    width: 800px;
    height: 300px;
    z-index: 0;
}

.container {
    background-repeat: repeat;
}

.word-card__content {
    @apply text-white;
}

.word-card__content h3 {
    @apply text-lg text-white mb-2;
}

.word-card__content p,
.word-card__content li {
    @apply mb-2 text-sm text-[#7d8590];
    line-height: 2;
}
