.side-bar {
    background: var(--color-canvas-subtle);
    border-right: var(--borderWidth-thin, 1px) solid var(--color-border-default) !important;
}

.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.download--btn {
    background: var(--peach-gradient);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    color: #000000;
    border-radius: 18px;
}

.download--btn:hover {
    box-shadow: 0 10px 30px rgba(231, 146, 136, 0.22);
}

.logo-text {
    background: -webkit-linear-gradient(0deg, #a371f7, #a5d6ff, #aff5b4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.side-btn {
    border: var(--borderWidth-thin, 1px) solid var(--color-border-default) !important;
}
